*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.image-slider {
  width: 800px;
}

.video-slider {
  width: 800px;
}

.swiper-slide > iframe {
  width: 800px;
  height: 90vh;
}

.swiper-slide > img {
  max-width: 100%;
}

.modal-opened {
  opacity: 1;
  visibility: visible;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.modal-closed {
  opacity: 0;
  visibility: hidden;
}

.modal-container > .close-btn {
  background-color: transparent;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 40px;
}